<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="KEN_ALL_UTF_URL" value="https://www.post.japanpost.jp/zipcode/dl/utf/zip/utf_ken_all.zip" />
    <add key="KEN_ALL_KOGAKI_URL" value="https://www.post.japanpost.jp/zipcode/dl/kogaki/zip/ken_all.zip" />
    <add key="KEN_ALL_OOGAKI_URL" value="https://www.post.japanpost.jp/zipcode/dl/oogaki/zip/ken_all.zip" />
	  <add key="ROME_URL" value="https://www.post.japanpost.jp/zipcode/dl/roman/KEN_ALL_ROME.zip" />

	  <add key="JIGYOSYO_URL" value="https://www.post.japanpost.jp/zipcode/dl/jigyosyo/zip/jigyosyo.zip" />

	  <add key="KEN_ALL_UTF_FILENAME" value="utf_ken_all.csv" />
	  <add key="KEN_ALL_KOGAKI_FILENAME" value="KEN_ALL.CSV" />
	  <add key="KEN_ALL_OOGAKI_FILENAME" value="KEN_ALL.CSV" />
	  <add key="JIGYOSYO_URL_FILENAME" value="JIGYOSYO.CSV" />

	  <add key="KEN_ALL_UTF_ENCODING" value="utf-8" />
	  
	  <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>